.jumbotron{
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgb(255, 255, 255)), url('/img/perrobanner.png') no-repeat center center;
    width: 100%;
    height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
